body{
    background-color: #eee;
}

.logo{
    max-width: 400px;
    border-radius: 10px;
}

.logo_editora{
    max-width: 100px;
    border-radius: 10px;
}

.centro {
    vertical-align: middle !important;
    text-align: center !important;
}